<th:block th:replace="/fragments/header"></th:block>

		<title th:text="#{user.login}"></title>	
	</head>
	<body>
	<th:block th:replace="/fragments/nav"></th:block>
		<h1 th:text="#{user.login}"></h1>
		<form th:action="@{/dating/utilisateurs/login}" th:method="post">
			<div>
				<input th:type="email" th:placeholder="#{user.email}" th:field="*{login.email}" required>
				<input th:type="password" th:placeholder="#{user.password}" th:field="*{login.password}" required>
				<input th:type="submit" name="submit" th:value="Valider">
				<span th:text=${message}></span>
			</div>
			
		<th:block th:replace="/fragments/footer"></th:block>
		
	</body>
</html>
