<th:block th:replace="/fragments/header"></th:block>

		<title th:text="#{user.login}"></title>	
	</head>
	<body>
	<th:block th:replace="/fragments/nav"></th:block>
		<h1 th:text="#{user.login}"></h1>
		<div class="log">
		<form th:action="@{/dating/utilisateurs/login}" th:method="post">
			<div>
				<input th:type="email" th:placeholder="#{user.email}" th:field="*{login.email}" required>
				<input th:type="password" th:placeholder="#{user.password}" th:field="*{login.password}" required>
				<input class="btn" th:type="submit" name="submit" th:value="Valider">
				<p class="error" th:text=${message}></p>
			</div>
			<a class="menuli2" href="/dating/utilisateurs/register" th:text="#{user.new}+' ?'|"></a>
		</div>	
		<th:block th:replace="/fragments/footer"></th:block>
		
	</body>
</html>
