<th:block th:replace="/fragments/header"></th:block>

		<title th:text="#{user.new}"></title>	
	</head>
	<body>
	<th:block th:replace="/fragments/nav"></th:block>
		<h1 th:text="#{user.new}"></h1>
		<div class="log2">
		<form th:action="@{register}" enctype="multipart/form-data" th:method="post">
		<div class="utilisateur">	​
		<fieldset>
			<legend th:text="#{user}"></legend>
				<input th:type="email" th:field="*{user.emailUtilisateur}" th:placeholder="#{user.email}"/>
					<p class="error"  th:if="${#fields.hasErrors('user.emailUtilisateur')}" th:errors="*{user.emailUtilisateur}"></p>​
					​<br>
				<input th:type="text" th:field="*{user.nom}" th:placeholder="#{user.lastName}"/> 
					<p class="error"  th:if="${#fields.hasErrors('user.nom')}" th:errors="*{user.nom}"></p>​
					​<br>	
				<input th:type="text" th:field="*{user.prenom}" th:placeholder="#{user.firstName}"/> 
					<p class="error"  th:if="${#fields.hasErrors('user.prenom')}" th:errors="*{user.prenom}"></p>​
					​<br>		
				<input th:type="date" th:field="*{user.dateNaissance}" th:placeholder="#{user.birthday}"/> 
					<p class="error"  th:if="${#fields.hasErrors('user.dateNaissance')}" th:errors="*{user.dateNaissance}"></p>​
					​<br>		
				<input th:type="text" th:field="*{user.sexe}" th:placeholder="#{user.sexe}"/> 
					<p class="error"  th:if="${#fields.hasErrors('user.sexe')}" th:errors="*{user.sexe}"></p>​
					​<br>	
				<input th:type="password" th:field="*{user.motDePasse}" th:placeholder="#{user.password}"/> 
					<p class="error"  th:if="${#fields.hasErrors('user.motDePasse')}" th:errors="*{user.motDePasse}"></p>​
					​<br>
				<input th:type="text" th:field="*{user.description}" th:placeholder="#{user.description}"/> 
					<p class="error"  th:if="${#fields.hasErrors('user.description')}" th:errors="*{user.description}"></p>​
					​<br>	
				<input th:type="text" th:field="*{user.pseudo}" th:placeholder="#{user.pseudo}"/> 
					<p class="error"  th:if="${#fields.hasErrors('user.pseudo')}" th:errors="*{user.pseudo}"></p>​
					​<br>	
				<input th:type="text" th:field="*{user.numeroTel}" th:placeholder="#{user.numeroTel}"/> 
					<p class="error"  th:if="${#fields.hasErrors('user.numeroTel')}" th:errors="*{user.numeroTel}"></p>​
					​<br>		
				<input th:type="text" th:field="*{user.type}" th:placeholder="#{user.type}"/> 
					<p class="error"  th:if="${#fields.hasErrors('user.type')}" th:errors="*{user.type}"></p>​
					​<br>	
			</fieldset>	
		</div>
			
		<div class="situation">		
			​<fieldset>
			<legend th:text="#{situation}"></legend>
				<input th:type="text" th:field="*{situation.statutPro}" th:placeholder="#{situation.statutpro}"/> 
					<p class="error"  th:if="${#fields.hasErrors('situation.statutPro')}" th:errors="*{situation.statutPro}"></p>​
					​<br>	
				<input th:type="text" th:field="*{situation.statutPerso}" th:placeholder="#{situation.statutperso}"/> 
					<p class="error"  th:if="${#fields.hasErrors('situation.statutPerso')}" th:errors="*{situation.statutPerso}"></p>​
					​<br>
				<input th:type="text" th:field="*{situation.nbrEnfant}" th:placeholder="#{situation.nbrenfant}"/> 
					<p class="error"  th:if="${#fields.hasErrors('situation.nbrEnfant')}" th:errors="*{situation.nbrEnfant}"></p>​
					​<br>
				<select th:field="*{situation.orientation}">
					<option value="" th:text="#{situation.orientation}" selected></option>
					<option th:each="o:${orientation}" th:value="${o}"th:text="${o.name()}"></option>
				</select>		
					<br>		
				<input th:type="text" th:field="*{situation.fumeur}" th:placeholder="#{situation.fumeur}"/> 
					<p class="error"  th:if="${#fields.hasErrors('situation.fumeur')}" th:errors="*{situation.fumeur}"></p>​
					​<br>	
				<input th:type="text" th:field="*{situation.alcool}" th:placeholder="#{situation.alcool}"/> 
					<p class="error"  th:if="${#fields.hasErrors('situation.alcool')}" th:errors="*{situation.alcool}"></p>​
					​<br>
			</fieldset>	
		</div>	
		<div class="adresse">	
			​<fieldset>
			<legend th:text="#{adresse}"></legend>	
				<input th:type="text" th:field="*{adresse.codePostal}" th:placeholder="#{adresse.codepostal}"/> 
					<p class="error"  th:if="${#fields.hasErrors('adresse.codePostal')}" th:errors="*{adresse.codePostal}"></p>​
					​<br>		
				<input th:type="text" th:field="*{adresse.ville}" th:placeholder="#{adresse.ville}"/> 
					<p class="error"  th:if="${#fields.hasErrors('adresse.ville')}" th:errors="*{adresse.ville}"></p>​
					​<br>	
				<input th:type="text" th:field="*{adresse.numero}" th:placeholder="#{adresse.numero}"/> 
					<p class="error"  th:if="${#fields.hasErrors('adresse.numero')}" th:errors="*{adresse.numero}"></p>​
					​<br>
				<input th:type="text" th:field="*{adresse.typeRue}" th:placeholder="#{adresse.typerue}"/> 
					<p class="error"  th:if="${#fields.hasErrors('adresse.typeRue')}" th:errors="*{adresse.typeRue}"></p>​
					​<br>	
				<input th:type="text" th:field="*{adresse.nomRue}" th:placeholder="#{adresse.nomrue}"/> 
					<p class="error"  th:if="${#fields.hasErrors('adresse.nomRue')}" th:errors="*{adresse.nomRue}"></p>​
					​<br>	
				<input th:type="text" th:field="*{adresse.complement}" th:placeholder="#{adresse.complement}"/> 
					<p class="error"  th:if="${#fields.hasErrors('adresse.complement')}" th:errors="*{adresse.complement}"></p>​
					​<br>	
				<input th:type="text" th:field="*{adresse.prefixe}" th:placeholder="#{adresse.prefixe}"/> 
					<p class="error"  th:if="${#fields.hasErrors('adresse.prefixe')}" th:errors="*{adresse.prefixe}"></p>​
					​<br>
			</fieldset>							
		</div>
		
		<div class="apparence">		
			​<fieldset>
			<legend th:text="#{apparence}"></legend>	
				<input th:type="text" th:field="*{apparence.taille}" th:placeholder="#{apparence.taille}"/> 
					<p class="error"  th:if="${#fields.hasErrors('apparence.taille')}" th:errors="*{apparence.taille}"></p>​
					​<br>		
				<input th:type="text" th:field="*{apparence.couleurYeux}" th:placeholder="#{apparence.couleuryeux}"/> 
					<p class="error"  th:if="${#fields.hasErrors('apparence.couleurYeux')}" th:errors="*{adresse.couleurYeux}"></p>​
					​<br>	
				<input th:type="text" th:field="*{apparence.origine}" th:placeholder="#{apparence.origine}"/> 
					<p class="error"  th:if="${#fields.hasErrors('apparence.origine')}" th:errors="*{apparence.origine}"></p>​
					​<br>
				<input th:type="text" th:field="*{apparence.couleurCheveux}" th:placeholder="#{apparence.couleurcheveux}"/> 
					<p class="error"  th:if="${#fields.hasErrors('apparence.couleurCheveux')}" th:errors="*{apparence.couleurCheveux}"></p>​
					​<br>	
				<input th:type="text" th:field="*{apparence.typeCheveux}" th:placeholder="#{apparence.typecheveux}"/> 
					<p class="error"  th:if="${#fields.hasErrors('apparence.typeCheveux')}" th:errors="*{apparence.typeCheveux}"></p>​
					​<br>	
				<input th:type="text" th:field="*{apparence.masse}" th:placeholder="#{apparence.masse}"/> 
					<p class="error"  th:if="${#fields.hasErrors('apparence.masse')}" th:errors="*{apparence.masse}"></p>​
					​<br>
    			<input type="file" name="uploadingFiles" accept="image/*" multiple/><br />
				<br>		
			</fieldset>	
		</div>						
			<br>
		<div class="action">	
					<br>				
					<input class="btn" type="submit" name = "submit" value="Valider"/>
					<a href="/dating/index"><input class="btn-red" type="button" value="Annuler"></a>
			
		</div>	
		</form>
		</div>
		
		<br class="clear"><br>
		<th:block th:replace="/fragments/footer"></th:block>
		
	</body>
</html>