<!DOCTYPE html>
<html lang="FR" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
		<title th:text="#{user.new}"></title>	
	</head>
	<body>
		<h1 th:text="#{user.new}"></h1>
		<form th:action="@{register}" th:method="post">
		<div class="utilisateur">	​
		<fieldset>
			<legend th:text="#{user}"></legend>
				<input th:type="email" th:field="*{user.emailUtilisateur}" th:placeholder="#{user.email}"/>
					<span th:if="${#fields.hasErrors('user.emailUtilisateur')}" th:errors="*{user.emailUtilisateur}"></span>​
					​<br>
				<input th:type="text" th:field="*{user.nom}" th:placeholder="#{user.lastName}"/> 
					<span th:if="${#fields.hasErrors('user.nom')}" th:errors="*{user.nom}"></span>​
					​<br>	
				<input th:type="text" th:field="*{user.prenom}" th:placeholder="#{user.firstName}"/> 
					<span th:if="${#fields.hasErrors('user.prenom')}" th:errors="*{user.prenom}"></span>​
					​<br>		
				<input th:type="date" th:field="*{user.dateNaissance}" th:placeholder="#{user.birthday}"/> 
					<span th:if="${#fields.hasErrors('user.dateNaissance')}" th:errors="*{user.dateNaissance}"></span>​
					​<br>		
				<input th:type="text" th:field="*{user.sexe}" th:placeholder="#{user.sexe}"/> 
					<span th:if="${#fields.hasErrors('user.sexe')}" th:errors="*{user.sexe}"></span>​
					​<br>	
				<input th:type="password" th:field="*{user.motDePasse}" th:placeholder="#{user.password}"/> 
					<span th:if="${#fields.hasErrors('user.motDePasse')}" th:errors="*{user.motDePasse}"></span>​
					​<br>
				<input th:type="text" th:field="*{user.description}" th:placeholder="#{user.description}"/> 
					<span th:if="${#fields.hasErrors('user.description')}" th:errors="*{user.description}"></span>​
					​<br>	
				<input th:type="text" th:field="*{user.pseudo}" th:placeholder="#{user.pseudo}"/> 
					<span th:if="${#fields.hasErrors('user.pseudo')}" th:errors="*{user.pseudo}"></span>​
					​<br>	
				<input th:type="text" th:field="*{user.numeroTel}" th:placeholder="#{user.numeroTel}"/> 
					<span th:if="${#fields.hasErrors('user.numeroTel')}" th:errors="*{user.numeroTel}"></span>​
					​<br>		
				<input th:type="text" th:field="*{user.type}" th:placeholder="#{user.type}"/> 
					<span th:if="${#fields.hasErrors('user.type')}" th:errors="*{user.type}"></span>​
					​<br>	
			</fieldset>	
		</div>
			
		<div class="situation">		
			​<fieldset>
			<legend th:text="#{situation}"></legend>
				<input th:type="text" th:field="*{situation.statutPro}" th:placeholder="#{situation.statutpro}"/> 
					<span th:if="${#fields.hasErrors('situation.statutPro')}" th:errors="*{situation.statutPro}"></span>​
					​<br>	
				<input th:type="text" th:field="*{situation.statutPerso}" th:placeholder="#{situation.statutperso}"/> 
					<span th:if="${#fields.hasErrors('situation.statutPerso')}" th:errors="*{situation.statutPerso}"></span>​
					​<br>
				<input th:type="text" th:field="*{situation.nbrEnfant}" th:placeholder="#{situation.nbrenfant}"/> 
					<span th:if="${#fields.hasErrors('situation.nbrEnfant')}" th:errors="*{situation.nbrEnfant}"></span>​
					​<br>
				<select th:field="*{situation.orientation}">
					<option value="" th:text="#{situation.orientation}" selected></option>
					<option th:each="o:${orientation}" th:value="${o}"th:text="${o.name()}"></option>
				</select>		
					<br>		
				<input th:type="text" th:field="*{situation.fumeur}" th:placeholder="#{situation.fumeur}"/> 
					<span th:if="${#fields.hasErrors('situation.fumeur')}" th:errors="*{situation.fumeur}"></span>​
					​<br>	
				<input th:type="text" th:field="*{situation.alcool}" th:placeholder="#{situation.alcool}"/> 
					<span th:if="${#fields.hasErrors('situation.alcool')}" th:errors="*{situation.alcool}"></span>​
					​<br>
			</fieldset>	
		</div>	
		<div class="adresse">	
			​<fieldset>
			<legend th:text="#{adresse}"></legend>	
				<input th:type="text" th:field="*{adresse.codePostal}" th:placeholder="#{adresse.codepostal}"/> 
					<span th:if="${#fields.hasErrors('adresse.codePostal')}" th:errors="*{adresse.codePostal}"></span>​
					​<br>		
				<input th:type="text" th:field="*{adresse.ville}" th:placeholder="#{adresse.ville}"/> 
					<span th:if="${#fields.hasErrors('adresse.ville')}" th:errors="*{adresse.ville}"></span>​
					​<br>	
				<input th:type="text" th:field="*{adresse.numero}" th:placeholder="#{adresse.numero}"/> 
					<span th:if="${#fields.hasErrors('adresse.numero')}" th:errors="*{adresse.numero}"></span>​
					​<br>
				<input th:type="text" th:field="*{adresse.typeRue}" th:placeholder="#{adresse.typerue}"/> 
					<span th:if="${#fields.hasErrors('adresse.typeRue')}" th:errors="*{adresse.typeRue}"></span>​
					​<br>	
				<input th:type="text" th:field="*{adresse.nomRue}" th:placeholder="#{adresse.nomrue}"/> 
					<span th:if="${#fields.hasErrors('adresse.nomRue')}" th:errors="*{adresse.nomRue}"></span>​
					​<br>	
				<input th:type="text" th:field="*{adresse.complement}" th:placeholder="#{adresse.complement}"/> 
					<span th:if="${#fields.hasErrors('adresse.complement')}" th:errors="*{adresse.complement}"></span>​
					​<br>	
				<input th:type="text" th:field="*{adresse.prefixe}" th:placeholder="#{adresse.prefixe}"/> 
					<span th:if="${#fields.hasErrors('adresse.prefixe')}" th:errors="*{adresse.prefixe}"></span>​
					​<br>
			</fieldset>							
		</div>
		
		<div class="apparence">		
			​<fieldset>
			<legend th:text="#{apparence}"></legend>	
				<input th:type="text" th:field="*{apparence.taille}" th:placeholder="#{apparence.taille}"/> 
					<span th:if="${#fields.hasErrors('apparence.taille')}" th:errors="*{apparence.taille}"></span>​
					​<br>		
				<input th:type="text" th:field="*{apparence.couleurYeux}" th:placeholder="#{apparence.couleuryeux}"/> 
					<span th:if="${#fields.hasErrors('apparence.couleurYeux')}" th:errors="*{adresse.couleurYeux}"></span>​
					​<br>	
				<input th:type="text" th:field="*{apparence.origine}" th:placeholder="#{apparence.origine}"/> 
					<span th:if="${#fields.hasErrors('apparence.origine')}" th:errors="*{apparence.origine}"></span>​
					​<br>
				<input th:type="text" th:field="*{apparence.couleurCheveux}" th:placeholder="#{apparence.couleurcheveux}"/> 
					<span th:if="${#fields.hasErrors('apparence.couleurCheveux')}" th:errors="*{apparence.couleurCheveux}"></span>​
					​<br>	
				<input th:type="text" th:field="*{apparence.typeCheveux}" th:placeholder="#{apparence.typecheveux}"/> 
					<span th:if="${#fields.hasErrors('apparence.typeCheveux')}" th:errors="*{apparence.typeCheveux}"></span>​
					​<br>	
				<input th:type="text" th:field="*{apparence.masse}" th:placeholder="#{apparence.masse}"/> 
					<span th:if="${#fields.hasErrors('apparence.masse')}" th:errors="*{apparence.masse}"></span>​
					​<br>	
			</fieldset>	
		</div>						
			<br>
		<div class="action">	
					<br>				
					<input type="submit" name = "submit" value="Valider"/>
					<a href="/dating/utilisateurs"><input type="reset" name = "reset" value="Annuler"></a>
			
		</div>	
		</form>
	</body>
</html>