<th:block th:replace="/fragments/header"></th:block>

		<title th:text="#{user.list}"></title>	
	</head>
	<body>
	<th:block th:replace="/fragments/nav"></th:block>
		<h1 th:text="#{user.list}"></h1>
		<h1 th:if="${session.user != null}" th:text="|#{bonjour} ${session.user.pseudo}|"></h1>
		
		<div th:each="u : ${users}">
		<p  th:text="${u.pseudo}+': '+${u.nom}+' '+${u.prenom}+', '+${u.adresse.numero}+
		 ${u.adresse.prefixe}+' '+${u.adresse.typeRue}+' '+${u.adresse.nomRue}+', '+${u.adresse.codePostal}+' '+${u.adresse.ville}"></p>
		</div>
		
		<th:block th:replace="/fragments/footer"></th:block>
		
	</body>
</html>
