<th:block th:replace="/fragments/header"></th:block>

		<title th:text="#{user.list}"></title>	
	</head>
	<body th:if="${session.user} != null">
	<th:block th:replace="/fragments/nav"></th:block>
		
		<h1 th:text="#{user.list}"></h1>
		
		<table>
		<tr th:each="u : ${users}">
			<td th:each="p : ${u.photos}"><a th:href="@{/dating/utilisateurs/}+${u.emailUtilisateur}"><img th:src="'/img/'+${p.lien}"></td>	
			<td  th:text="${u.pseudo}"></td>
			<td  th:text="${u.adresse.ville}"></td>
			<!--<td  th:text="${u.nom}"></td>
			<td  th:text="${u.prenom}"></td>
			<td  th:text="${u.adresse.numero}+
			 ${u.adresse.prefixe}+' '+${u.adresse.typeRue}+
			 ' '+${u.adresse.nomRue}+', '+${u.adresse.codePostal}+
			 ' '+${u.adresse.ville}"></td>-->
			</tr>
		</table>
		
		<th:block th:replace="/fragments/footer"></th:block>
		
	</body>
</html>
